/* style for grid layout for playlist query output */
/* style for grid layout for both the headings and song details */
heading1, heading2{
	width: 100%;
	display: grid;
    grid-gap: 2%;	
	grid-template-columns: 4% 26% 14% 22% 10% 7% 10%;
}

/* style for the headings section */
heading1{
	padding: 0;
    border-bottom: 1px solid #aaa;
	grid-template-rows: 50px;
	background-color: white;
	position: sticky;
	top: 0vw;
}

/* style for the headings song details section */
heading2{
	grid-template-rows: 80px;
}

/* style for the headings */
Song_ID1, Title1, Artist1, Album1, Genre1, Duration1, Size1{
	width: 85px;
}

/* style for grid layout for user list query output */
heading3, heading4{
	width: 100%;
	display: grid;
	grid-gap: 2%;
	grid-template-columns: 70% 30%;
}

heading3{
	padding: 0;
	border-bottom: 1px solid #aaa;
	grid-template-rows: 40px;
	background-color: white;
	position: sticky;
	top: 0vw;
}

heading4{
	grid-template-rows: 50px;
}

User1, Password1{
	width: 50px;
}
