/* style for grid layout for both the headings and song details */
heading1, heading2{
	width: 100%;
	display: grid;
    grid-gap: 2%;	
	grid-template-columns: 8% 25% 12% 14% 16% 8% 8%;
}

/* style for the headings section */
heading1{
    border-bottom: 1px solid #aaa;
	grid-template-rows: 40px;
}

/* style for the headings song details section */
heading2{
	grid-template-rows: 75px;	
}

/* style for the headings */
Song_ID1, Title1, Artist1, Album1, Genre1, Duration1, Size1{
	width: 85px;
}
