/*these are my fonts for my text imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/*used so user has smooth scrolling when back to top button is used*/
html {
  scroll-behavior: smooth;
}

/*style for body*/
body{
	background-color: #292a33;
	/* Create the parallax scrolling effect (for background image)*/
 	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
    display: none;
}


/*style for nav menu starts*/
.navbar{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(#1155CC, #527ECC);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	position: sticky;
	top: 0vw;
	z-index: 1; /* for overlapping divs, bringing to the front like a drop down menu */
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.navbar-links li2 a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.navbar-links ul li ul {
  margin-top: 0px;
  padding: 0;
  position: absolute;
  display: none;
  visibility: hidden; /* this hides the drop-down menu list */
  text-align: center;
  z-index: 1; /* for overlapping divs, bringing to the front like a drop down menu */
}

.navbar-links ul li ul li { 
  background-color: #527ECC; /* this is the drop-down menu background color */
  display: block; 
}

.navbar-links ul li:hover ul {
  display: block;
  visibility: visible; /* this makes the drop-down menu visable*/
}

a:link {color:#ffffff;} /* unvisited link */
a:hover {text-shadow: 0.05vw 0.05vw 0.05vw #527ECC;} /* mouse over link */

/*underline animation when user hovers over nav links*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* burger menu icon that displays on smaller screen sizes*/
.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none; /* not default so it only displays on smaller screen sizes*/
	flex-direction: column;
	justify-content: space-between;
	padding-top: 8px;
	width: 30px;
	height: 25px;
}

.toggle-button .bar{
	width: 100%;
	height: 3px;
	border-radius: 10px;
	background-color: #ffffff;
}

/* media query that defines what width the navbar changes into a burger menu*/
@media (max-width: 600px){
	.toggle-button{
		display: flex;
	}
	/* styling for nav menu when in burger menu format*/
	.navbar-links{
		display: none;
		width: 100%;
	}
	
	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li{
		text-align: center;
	}
	
	.navbar-links li2{
		display: none;
	}
	
	.navbar-links ul li ul {
		position: relative;
	}

	
	.navbar-links.active{
		display: flex;
	}
}
/*style for nav menu ends*/

/* style for image banner - used in query playlist pages */
.banner{
	margin-top: -3.2vw;
	padding: 0;
	background-color: grey;
	height: 95.77vh;
	width: 100%;
	position: relative;
    z-index: -1;
}


/* style for main content */
.content{
	box-sizing: border-box;
	background-color: #292a33;
	padding: 0 20px;
	display: block;
	margin: 2.4vh auto;
	width: 100%;
	max-width: 955px;
	height: 75.95vh;
	overflow-y: auto;
	overflow-x: hidden;
}

/* style for main content on login/register and admin pages */
.admin-content{
	box-sizing: border-box;
	margin: 8vh auto;
	position: relative;
	background-color: #ffffff;
	padding: 25px;
	display: block;
	max-width: 555px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

/* custom style for input boxes start*/
input{
	border: none; 
	border-bottom: 0.25vw solid #527ECC;
	padding: 0.4vw 0.6vw;
	width: 20.5vw;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2vw;
	font-weight: 600;
	color: #1155CC; 
	outline-width: 0;
}

input[type=password] {
  	border: none; 
	border-bottom: 0.25vw solid #527ECC;
	outline-width: 0;
	width: 20.5vw;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2vw;
	font-weight: 600;
	color: #1155CC; 
}

/* changes the input styling when clicked by the user. */
input:focus {
  	outline-width: 0;
	border-bottom: 0.25vw solid #1155CC;
	transition: 1s ease-in-out;
}

/* style for placeholder text in entry/input boxes */
::placeholder {
  color: #292a33;
  opacity: 80%
}

/* style for show password checkbox*/
input[type=checkbox] {
	width: 1vw;
	height: 1vw;
	cursor: pointer;
	margin-left: -14vw;
}

/* style for submit buttons on login/register and admin pages*/
input[type=submit] {
	background-color: #1155CC;
  	border: none;
  	color: white;
  	text-decoration: none;
	width: 22vw;
  	cursor: pointer;
	font-size: 1.2vw;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #527ECC;
	transition: 0.2s ease-in-out;
}
/* custom style for input boxes end*/

/*underline animation when user hovers over other links not in nav*/
.hover-underline-animation2 {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation2:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #527ECC;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}


.library-image{
	width: 100%; 
	max-width: 400px; 
	height: 100%
}

.container:hover .library-image{
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.genre-image{
	width: 100%; 
	max-width: 235px;
	height: 100%
}

.container:hover .genre-image{
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*style for headers start*/
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 2.35vw;
	text-align: center;
	color: #1155CC; 
	letter-spacing: 0.05em;
	text-shadow: 0.15vw 0.15vw 0.15vw #4a78c9;
}	

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
	font-size: 1.8vw;
}	


h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
	font-size: 1.4vw;
}	
/*style for headers ends*/

/*style for my paragraphs*/
p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 1.1vw;
}

/* style for back to top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}

#myBtn:hover img{
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  cursor: pointer; /* Add a mouse pointer on hover */
	
}

/*style for footer starts*/
.footer{
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 25vw 15vw;
	grid-template-rows: 44vh;
	padding-top: 7.5vw;
	position: relative;
	background-image: linear-gradient(#527ECC, #1155CC);
}

/*for copyright section*/
.footer1{
	box-sizing: border-box;
	padding: 0 20px;
	width: 100%;
	height: 28vh;
	grid-row: 1;
	grid-column: 2;
}

/*for logo section*/
.footer2{
	box-sizing: border-box;
	padding: 0 20px;
	width: 100%;
	height: 28vh;
	grid-row: 1;
	grid-column: 3;
}

/*for social media icons section*/
.footer3{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 28vh;
	grid-row: 1;
	grid-column: 4;
}
/*style for footer ends*/

.social-icons{
	width: 100%; 
	max-width: 3.65vw; 
	padding-top: 4.4vw;}
