/*these are my fonts for my text imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*style for body*/
body{
	background-color: blue;
	/* Create the parallax scrolling effect */
 	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}


/*style for nav menu starts*/
.navbar{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
}

/* burger menu icon that displays on smaller screen sizes*/
.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none; /* not default so it only displays on smaller screen sizes*/
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar{
	width: 100%;
	height: 3px;
	border-radius: 10px;
	background-color: black;
}

/* media query that defines what width the navbar changes into a burger menu*/
@media (max-width: 600px){
	.toggle-button{
		display: flex;
	}
	
	.navbar-links{
		display: none;
		width: 100%;
	}
	
	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}
	
	.navbar-links li{
		text-align: center;
	}
	
	.navbar-links.active{
		display: flex;
	}
}
/*style for nav menu ends*/

/* style for image banner - used in query pages */
.banner{
	margin-top: -20px;
	padding: 0;
	background-color: grey;
	height: 250px;
	width: 700px;
	position: relative;
}

/* style for main content */
.content{
	box-sizing: border-box;
	background-color: white;
	border: 10px solid black;
	padding: 25px 25px;
	display: block;
	margin: 0 auto;
	width: 700px;
	height: 500px;
	overflow: auto;
	position: relative;
}

.scroll-trial{
	height: 700px;
}

/* style for admin menu on admin pages starts*/
.admin-menu{
	border: 2px solid black;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 700px;
	height: 50px;
	position: relative;
}

.admin-menu ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.admin-menu li{
	list-style: none;
}

.admin-menu li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
}
.section1{
	height: 100%;
	width: 50%;
	float: left;

}

.section2{
	height: 100%;
	width: 50%;
	float: right;

}
/* style for admin menu on admin pages ends*/

/*style for headers start*/
h1{
	font-family: 'Lexend', sans-serif;
	font-weight: 600;
	color: black;
	font-size: 24pt;
	letter-spacing: 0.24em;
	text-align: center;
}	

h2{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #0086AD;
	font-size: 16pt;
	letter-spacing: 0.05em;
	line-height: 0.2em;
	text-align: center;
}	


h3{
	font-family: 'Lexend', sans-serif;
	font-weight: 600;
	color: black;
	font-size: 14pt;
	letter-spacing: 0.04em;
	text-align: center;
}	
/*style for headers ends*/

/*style for my paragraphs*/
p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 11pt;
	letter-spacing: 0.01em;
}


/*style for footer*/
.footer{
	position: relative;
	background-color: white;
	height: 60px;
	padding: 1px 0px ;
}
